<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">List Product</h6>
            </div>
            <div class="col-sm-1">
                <a style="font-size: 12px;" class="btn btn-info" href="/room/create">Thêm mới</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 261.812px;">
                                        Mã phòng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending"
                                        style="width: 429.484px;">Tên phòng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending">Loại phòng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Age: activate to sort column ascending" style="width: 100.453px;">
                                        Tình Trạng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Age: activate to sort column ascending" style="width: 194.359px;">
                                        Ghi chú</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each data}}
                                <tr class="odd">
                                    <td>{{MaPhong}}</td>
                                    <td>{{name}}</td>
                                    <td>{{type}}</td>
                                    <td>{{status}}</td>
                                    <td>{{note}}</td>

                                    <td>
                                        <a class="btn btn-success edit" href="/room/edit/{{MaPhong}}">Edit</a>
                                         <a class="btn btn-danger delete" href="/room/delete/{{MaPhong}}">Delete</a> 
                                        {{!-- 
                                        <a class="btn btn-danger delete" onclic
                                            href="/admin/product/delete/{{id}}">Delete</a> --}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav style="margin-left: 83%;" aria-label="Page navigation example">
  <ul  class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
            </div>
        </div>
    </div>
</div>