<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">Thêm khách hàng mới</h6>
            </div>
            {{!-- <div class="col-sm-1">
                <a style="font-size: 12px;" class="btn btn-info" href="/create">Thêm mới</a>
            </div> --}}
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form action="/customer/create" method="post" id="createForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mã khách hàng</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Nhập mã khách hàng" name="MaKH" value="{{MaKH}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên khách hàng</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tên KH"
                               name="Nhập tên khách hàng" value="{{TenKH}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">CMND</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="CMND" style="number"
                               name="CMND" value="{{CMND}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Số điện thoại</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="SĐT" style="number"
                               name="SDT" value="{{SDT}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Địa chỉ</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Địa chỉ"
                               name="DiaChi" value="{{DiaChi}}">
                    </div>

                    {{!-- <div class="form-group">
                        <label for="exampleFormControlFile1">Loại Khách hàng</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="Loại khách sạn"
                               name="LoaiKH" value="{{LoaiKH}}">
                    </div> --}}
                    <div class="form-group"></div>
                    <label for="exampleFormControlFile1">Loại Khách hàng</label>
                    <select class="form-select" id="exampleInputPassword1" aria-label="Default select example" name="LoaiKH" >
                        <option value="Khách nội địa">Khách nội địa</option>
                        <option value="Khách nước ngoài">Khách nước ngoài</option>
                    </select>
                     </div>
                    <button type="submit" class="btn btn-primary" value="create">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
