<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
            </div>
            <div class="col-sm-1">
                <a style="font-size: 12px;" class="btn btn-info" href="/customer/create">Thêm khách hàng</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                               role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 70px;">
                                    #</th>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 250px;">
                                    Tên KH</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending"
                                    style="width: 150px;">CMND</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 200px">
                                    SĐT</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 250px;">
                                    Địa Chỉ</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 150px;">
                                    Loại KH</th>
                            </tr>
                            </thead>

                            <tbody>
                            {{#each data}}
                                <tr class="odd">
                                    <td>{{MaKH}}</td>
                                    <td>{{TenKH}}</td>
                                    <td>{{CMND}}</td>
                                    <td>{{SDT}}</td>
                                    <td>{{DiaChi}}</td>
                                    <td>{{TenLoai}}</td>
                                    <td>
                                        <a class="btn btn-success edit" href="/customer/edit/{{MaKH}}">Edit</a>
                                        <a class="btn btn-danger delete" href="/customer/delete/{{MaKH}}">Delete</a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav style="margin-left: 83%;" aria-label="Page navigation example">
                    <ul  class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>